body {
  overflow: hidden;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0%;
  margin: 0%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.top-right {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 500%;
  font-family: 'Iceland', cursive;
  color: white;
}

canvas {
  position: fixed;
  z-index: -1;
}

#flexing {
  display: grid;
  position: fixed;
  z-index: 2;
  grid-template-columns: auto;
  grid-row-gap: 20px;
  margin-top: 20px;
  margin-left: 20px;
}


#foot {
  position: fixed;
  display: flex;
  width: 98vw;
  justify-content: space-between;
  bottom: 0%;
}

#footer {
  /* margin-top: 525px; */
  display: flex;
  grid-template-columns: auto auto;
  grid-row-gap: 5px;
}


.clock {
  font-size: 30px;
  letter-spacing: 7px;
  color: #fff;
}

.file svg {
  color: white;
  font-size: 20px;
  border-radius: 5px;
  padding: 25px 25px;
  background: rgba(105, 105, 105, 0.459);
}

.file i {
  color: white;
  font-size: 20px;
  border-radius: 5px;
  padding: 25px 25px;
  background: rgba(105, 105, 105, 0.459);
}

#foot a {
  padding: 0 15px;

}
.home i {
  color: white;
  font-size: 20px;
  border-radius: 5px;
  padding: 15px 15px;
  background: rgba(105, 105, 105, 0.459);
}

footer {
  text-align: right;
  padding-bottom: 5px;
  background-color: #9292921f;
  color: white;
}

.home svg {
  color: rgb(255, 255, 255);
  z-index: -1;
  font-size: 20px;
  border-radius: 5px;
  padding: 15px 15px;
  background: rgba(105, 105, 105, 0.459);
}
.modal-body embed {
  height: 650px;
  width: 550px;
}

.modal-content {
  width: 600px;
}

.notepad {
  width: 400px;
}

.mail {
  width: 600px;
}

#windowwebsite .modal-content{
  border-radius: 6px;
  bottom: 48px;
  /* box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.3); */
  display: flex;
  left: 80px;
  height: 800px;
  background-color: transparent !important;
  margin-top: 175px;
}

  
#windowwebsite .modal-body::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
#windowwebsite .modal-body{
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;  /* Firefox */

}

#windowwebsite embed{
height: 100%;
scrollbar-width: none !important; 
}
/* ui design  */

.modal-content {
  height: fit-content;
  width: fit-content;
  box-sizing: content-box;
}
.modal-body{
  padding: 0;
}
.modal-dialog{
  margin: 30px auto;
  position: relative;
}

#filewebsite embed{
  width: 95vw;
  height: 80vh;
  overflow: hidden;
}
#filewebsite .modal-dialog {
  margin: 20px 20px;
}

#uiwebsite embed{
  width: 95vw;
  height: 80vh;
}
#uiwebsite .modal-dialog {
  margin: 20px 20px;
}

#settingswebsite embed{
  width: 70vw;
  height: 80vh;
}

#settingswebsite {
  margin-left: -50vw;
}
#settingswebsite .modal-content{
  background-color: #92929200;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, rgba(14, 29, 51, 0.8), rgba(14, 29, 51, 0.2));
}


.hero-slider {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-slider .carousel-cell {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.hero-slider .carousel-cell .slide-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.hero-slider .carousel-cell .slide-content .title {
  position: relative;
  font-family: "Fjalla One", sans-serif;
  font-size: 3.2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-slider .carousel-cell .slide-content .caption {
  font-family: "Noto Sans", sans-serif;
  font-size: 2.2rem;
  color: #ffffff;
  margin-bottom: 30px;
}

.hero-slider .carousel-cell .slide-content .btn {
  display: inline-block;
  border: 1px solid #fff;
  padding: 14px 18px;
  text-transform: uppercase;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.9rem;
  letter-spacing: 2px;
  color: #fff;
  text-decoration: none;
}

.hero-slider .carousel-cell .slide-content .btn:hover {
  background: #fff;
  color: #000;
  transition: all 0.2s ease;
}

.hero-slider .flickity-prev-next-button {
  width: 80px;
  height: 80px;
  background: transparent;
}

.hero-slider .flickity-prev-next-button:hover {
  background: transparent;
}

.hero-slider .flickity-prev-next-button .arrow {
  fill: white;
}

.hero-slider .flickity-page-dots {
  bottom: 30px;
}

.hero-slider .flickity-page-dots .dot {
  width: 30px;
  height: 4px;
  opacity: 1;
  background: rgba(255, 255, 255, 0.5);
  border: 0 solid white;
  border-radius: 0;
}

.hero-slider .flickity-page-dots .dot.is-selected {
  background: #ff0000;
  border: 0 solid #ff0000;
}

/* --------------------------------
  Masking
  -------------------------------- */
.slide-content .title,
.slide-content .caption,
.slide-content .btn {
  position: relative;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.slide-content.mask .mask {
  position: relative;
  overflow: hidden;
}

.slide-content.mask .title {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
  -webkit-animation-name: slide-up;
  animation-name: slide-up;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  opacity: 1;
}

.slide-content.mask .divider {
  display: inline-block;
  position: relative;
  margin: 5px auto;
  height: 2px;
  width: 60%;
  background-color: #ffffff;
  -webkit-animation: divider-mask 1s 0.3s both;
  animation: divider-mask 1s 0.3s both;
}

.slide-content.mask .caption,
.slide-content.mask .btn {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
  -webkit-animation-name: slide-down;
  animation-name: slide-down;
}

#windowwebsite .modal-dialog {
 margin-left: -5vw !important;
}
@-webkit-keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes divider-mask {

  0%,
  100% {
    transform: scaleX(0);
  }

  40%,
  60% {
    -webkit-transform: scaleX(1);
  }
}

@keyframes divider-mask {

  0%,
  100% {
    transform: scaleX(0);
  }

  40%,
  60% {
    transform: scaleX(1);
  }
}